body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#contactDiv {
    border: solid;
    margin-top: 5vh;
    border-color: white;
    /* background: white; */
    margin-left: 1vh;
    margin-right: 1vh;
    border-radius: 10px;
    background: whitesmoke;
    border-width: 5px;
}